.text-none {
    text-decoration: none !important;
}

.text-theme-grey {
    color: #3c4049 !important;
}

.text-justify {
    text-align: justify !important;
}

.text-center {
    text-align: center !important
 ;
}

.fw-bold {
    font-weight: 500 !important;
}
